// cta
.cta {
  background: $orange;
  background: linear-gradient(-160deg, #F99A2A 0%, #F9902A 100%);
  padding: 5rem 0;

  h3 {
    @include media-breakpoint-down(sm) {
      margin: 0 auto 2rem;
      font-size: 1.75rem;
    }
    font-size: 2rem;
  }
}
