@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';

// Fonts
$font-roboto: 'Roboto', sans-serif;

// Colors
$gray-100: #F4F5F9 !default;
$gray-500: #9FA3A7 !default;
$gray-600: #6D6E71 !default;
$gray-800: #282828 !default;
$black: #171719 !default;
$blue: #638593 !default;
$indigo: #323C47 !default;
$orange: #E88212 !default;
$orange-dark: #FF5D00 !default;
$yellow: #D8AA0C !default;

// Options
$enable-gradients: true !default;
$enable-print-styles: false !default;

// Grid breakpoints + containers
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1400px
) !default;
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1300px
) !default;

// Type
$font-family-sans-serif: $font-muli, Arial, sans-serif !default;
$line-height-base: 2 !default;
$headings-font-weight: 600 !default;
$headings-line-height: 1.4 !default;

// Buttons
$btn-padding-x: 3rem !default;

// Navbar
$navbar-padding-y: 0.5rem !default;
$navbar-nav-link-padding-x: 1.5rem !default;
$navbar-dark-hover-color: rgba($orange, 0.75) !default;
$navbar-dark-active-color: $orange !default;
$navbar-dark-color: rgba($gray-100, 0.75) !default;

// Box-shadow
$of-boxshadow: 4px 4px 4px rgba(0, 0, 0, 0.2);