.content-graphic-lg {
  @include media-breakpoint-down(sm) {
    padding: 0;
    text-align: center;
  }
  padding-top: 3rem;
  padding-bottom: 3rem;

  img {
    @include media-breakpoint-down(sm) {
      padding: 15px 30px 30px;
      max-height: 200px;
    }
    max-height: 400px;
  }

  h3 {
    @include media-breakpoint-down(sm) {
      font-size: 2rem;
      line-height: 2.5rem;
      margin-bottom: 15px;
    }
    color: $orange-dark;
    font-size: 2.25rem;
    font-weight: bold;
  }

  p {
    @include media-breakpoint-down(sm) {
      font-size: 0.85rem;
      margin-bottom: 30px;
    }
    margin: 0;
  }

  .content {
    @include media-breakpoint-down(sm) {
      padding: 0 15px;
    }
    padding: 0 3rem;
  }
}
